.page-footer__container {
    @include custom-flex-container(center, center, column, nowrap);

    @include tab{
        @include custom-flex-container(center, baseline, row, wrap);
    }
    @include desk{
    @include custom-flex-container(space-between, baseline, row, nowrap);
}}

.page-footer__info{
    text-align: center;
    @include tab{
        margin-right: 165px;
    }
    @include desk{
        width: 231px;
        margin-right: 70px; 
        text-align: left;   
    }
}    
.page-footer__logo {
    margin-bottom: 20px;
}

.page-footer__title {
    margin-bottom: 20px;
    text-align: center;
    @include desk{
        text-align: left;
    }
}

.page-footer__socials {
    width: 206px;
    margin-top: 60px;
    @include tab{
        margin-top: 0;
    }
}

.subscribe{
    width: 100%;
    margin-top: 60px;
    @include tab{
        width: auto;
    }
    @include desk{
        margin-top: 0;
    }
}


