
.header__container {
    @include custom-flex-container(space-between, center, row, nowrap);
width: 100%;
max-width: 1200px;

}

.header__logo {
    @include tab{
    margin-right: 88px;}
    @include desk{
    margin-right: 93px;}
}

.nav {
    @include desk{
    margin-right: 305px;
}}

.header__desktop{
    display: none;
    width: 100%;
    @include tab {
        @include custom-flex-container(space-between, center, row, nowrap);
    }
    @include desk {
        @include custom-flex-container(flex-start, baseline, row, nowrap);
}}

.mob-menu{
    @include tab{
        display: none;
    }
}


