.nav{
    @include custom-flex-container(flex-start, center, row, nowrap);
    @include custom-text( 14px, 500, 16px, $main-txt-cl, center);
}

.nav__item{    
    margin-right: 50px;
    &:last-child {
        margin: 0;
    }

}

.nav__link {
    @extend %active-link;
    position: relative;
}

.nav__link--current{
    color: $accent-cl;

    @include tab{
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            background: $accent-cl;
            height: 4px;
            border-radius: 2px;
            left: 0;
            top: 45px;
            cursor: default;
        }   }

        @include desk{
            &::after {
                top: 41px;
            }   }
    }