body {
    font-family: $page-txt-style;
    position: relative;
}

main {
    @include custom-flex-container(center, center, column, nowrap); 
    position: inherit;

}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a, button{
    @extend %animation;
}