    %animation {
        transition-property: transform, border-color, background-color, color, fill, opacity, box-shadow;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    %active-link{
        color: $main-txt-cl;
        &:hover, &:focus {
            color: $accent-cl;
            fill: $accent-cl;
        }
    }