//fonts
$logo-txt-style: Raleway;
$page-txt-style: Roboto;
//colors
$border-cl:#ECECEC;
$logo-header-cl: #000000;
$main-cl: #FFFFFF;
$accent-cl: #2196F3;
$main-txt-cl: #212121;
$second-txt-cl: #757575;
$button-cl: #188CE8;
$icon-cl: #AFB1B8;
$dark-bg-cl: #2F303A;
$filter-cl: #F5F4FA;
$project-border: #eeeeee;
$soc-icon-page-footer-bg:rgba(255, 255, 255, 0.1);
$hero-overlay: linear-gradient( rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
$card-overlay-cl: rgba(47, 48, 58, 0.8);
$card-shadow:0px 1px 3px rgba(0, 0, 0, 0.12),
0px 1px 1px rgba(0, 0, 0, 0.14),
0px 2px 1px rgba(0, 0, 0, 0.2);
$backdrop-cl: rgba(0, 0, 0, 0.2);
$project-overlay: rgba(33, 150, 243, 0.9);
$box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
0px 4px 4px rgba(0, 0, 0, 0.06),
1px 4px 6px rgba(0, 0, 0, 0.16);
$button-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
$card-shadow:0px 1px 3px rgba(0, 0, 0, 0.12),
0px 1px 1px rgba(0, 0, 0, 0.14),
0px 2px 1px rgba(0, 0, 0, 0.2);
$filters-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
// Border radius
$radius-rounded: 50%;
$radius-soft-corner: 4px;
//paddings
$vert-padd: 94px;
$hor-padd: 15px;
//width
//text-sizes
